In [20]:
import tabula as tb
import pandas as pd
import sqlite3 as db

In [21]:
conn = db.connect('hocobydesign.db')
c = conn.cursor()

---

In [22]:
def assumptions():
    assumptions = [['res_assessed_val', 'non_res_assessed_val', 'affordability_ratio','loan_interest_rate',\
                    'down_payment','tax_rate','hoa','sf_ins','condo_ins','res_affordablity_ratio','mihu_tax_adjust','mihu'],[0.92, 1, 0.28, 0.05, 0.2, 0.032,50,\
                         50, 33.33,0.32,0.6,0.15]]
    assumptions = pd.DataFrame(assumptions)
    assumptions = assumptions.T
    assumptions.columns = ['Category','Value']
    assumptions['Value'] = assumptions['Value'].astype(float)
    assumptions = assumptions.set_index('Category')

    return assumptions

In [23]:
def taxes_fees():
    taxes_fees = [['county_tax','state_tax','fire_tax','ad_valorem','trash_fee'],[1.014,.112, .236, 0.08, 325]]
    taxes_fees = pd.DataFrame(taxes_fees).T
    taxes_fees.columns = ['Category','Value']
    taxes_fees = taxes_fees.set_index('Category')
    taxes_fees['Value']=taxes_fees['Value'].astype(float)
    
    return taxes_fees

In [24]:
def tax_exemptions():
    tax_exemptions = [['sfd', 'sfa','condo_apt','exemption_amount','rental_exemption'],[3.22, 2.68, 2.09,3200,3400]]
    tax_exemptions = pd.DataFrame(tax_exemptions).T
    tax_exemptions.columns = ['Category','Value']
    tax_exemptions=tax_exemptions.set_index('Category')
    tax_exemptions['Value']=tax_exemptions['Value'].astype(float)

    return tax_exemptions

---

In [157]:
def unpack_assessed_value(val):
    val['Market Value Per unit']=val['Market Value Per unit'].str.replace(',','').str.replace('$','').astype(float)
    val['Assessed Value Ratio']=assumptions().loc['res_assessed_val'].squeeze()
    val['Assessed Value Per unit']=val['Market Value Per unit']*val['Assessed Value Ratio']
    val.reset_index(drop=True, inplace=True)
#     old_row_name = ['Single Family Detached', 'Single Family Attached', 'Condo Apartment',\
#                     'Rental Apartment (From Income Cap. Method)','Accessory Dwelling Unit']
#     new_row_name = ['SFD','SFA','Condo_Apt','Rental_Apts','ADUS']
#     val_index = val.index.to_list()
#     for i in val_index:
#         val[i]=
    val=val

    return val

In [26]:
def property_tax(market_value, av_ratio):
    property_tax = (market_value*av_ratio/100*taxes_fees().iloc[:4,:].sum()+taxes_fees().iloc[4,0])/12
    return  property_tax

def mortgage_calculation(p,i,n):
    i=i/12
    monthly_payment = p*(i*(1+i)**n)/((1+i)**n-1)
    return monthly_payment

---

In [27]:
def income_tax(region,assessed_val_cat):
    r = len(assessed_val_cat['Market Value Per unit'])
    list_avail = ['Category','SFD', 'SFA','Condo_Apt']
    region[:0]=['Gross Income']
    region =pd.DataFrame(region).T
    region.columns=list_avail
    region = region.set_index('Category')
    region.loc['Monthly Income']=region.iloc[0,:]/12
    region.loc['Affordability Amount']=region.iloc[1,:]*assumptions().iloc[2,0]
    region.loc['Market Value']=assessed_val_cat.iloc[:r,1].tolist()
    region.loc['Loan Amount']=region.loc['Market Value']*(1-assumptions().iloc[4,0])
    region.loc['Mortgage Payment']=[0]*r
    region.loc['Property Taxes']=[0]*r
    

    x=0
    for i in region.iloc[4,:].tolist():
        region.iloc[5,x]=mortgage_calculation(i,assumptions().iloc[3,0],360).squeeze()
        x=x+1
    x=0
    for i in region.iloc[3,:].tolist():
        region.iloc[6,x]=property_tax(i,assumptions().iloc[0,0]).squeeze()
        x=x+1

    region.loc['HOA']=assumptions().iloc[6,0]
    insurance_assignment = [assumptions().iloc[7,0],assumptions().iloc[7,0],assumptions().iloc[8,0]]
    region.loc['Insurance']=insurance_assignment[0:r]
    region.loc['Total Monthly Payment']=region.iloc[5:,:].sum()
    region.loc['First Month Interest']=region.loc['Loan Amount']*assumptions().iloc[3,0]/12
    region.loc['Gross Income to Market Value Ratio']=region.loc['Gross Income']/region.loc['Market Value']
    region.loc['Monthly Mortgage Deduction']=[0]*r
    y=0
    for i in region.loc['Property Taxes'].tolist():
        i=i.squeeze()*12
        if i >10000: 
            i = 10000 
        interest_ded = i/12
        region.iloc[12,y]= interest_ded + region.iloc[10,y]
        y=y+1
    region.loc['Annual Mortgage Deduction']=region.loc['Monthly Mortgage Deduction']*12
    region.loc['Number of Exemptions']=tax_exemptions()['Value'].to_list()[:r]
    region.loc['Adjustment of AGI']=region.loc['Number of Exemptions']*tax_exemptions().loc['exemption_amount'].squeeze()
    region.loc['Total Adjustments - Net Taxable Income']= region.loc['Gross Income']-(region.loc['Annual Mortgage Deduction']+region.loc['Adjustment of AGI'])
    region.loc['Net Taxable Income Ratio']=region.loc['Total Adjustments - Net Taxable Income']/region.loc['Gross Income']
    region.loc['Resulting Income Tax per Unit']=region.loc['Total Adjustments - Net Taxable Income']*assumptions().loc['tax_rate'].squeeze()

    return region

In [39]:
def rental_income_tax(region,assessed_val_cat):
    region = pd.DataFrame(region).reset_index()
    region.columns = ['Category','Rental Apts']
    r = len(assessed_val_cat['Market Value Per unit'])
    region.iloc[0,0]='Gross Income'
    region = region.set_index('Category')
    region.loc['Monthly Income']=region.iloc[0,:]/12
    region.loc['Affordability Amount']=region.iloc[1,:]*assumptions().iloc[9,0]
    region.loc['Number of Exemptions']=tax_exemptions()['Value'].to_list()[2]
    region.loc['Adjustment of AGI']=region.loc['Number of Exemptions']*tax_exemptions().loc['exemption_amount'].squeeze()
    region.loc['Standard State Deduction']=tax_exemptions().loc['rental_exemption'].squeeze()
    region.loc['Total Adjustments - Net Taxable Income']= region.loc['Gross Income']-(region.loc['Standard State Deduction']+region.loc['Adjustment of AGI'])
    region.loc['Net Taxable Income Ratio']=region.loc['Total Adjustments - Net Taxable Income']/region.loc['Gross Income']
    region.loc['Resulting Income Tax per Unit']=region.loc['Total Adjustments - Net Taxable Income']*assumptions().loc['tax_rate'].squeeze()
    region.loc['Income Tax for MIHU']=region.loc['Resulting Income Tax per Unit']*assumptions().loc['mihu_tax_adjust'].squeeze()
    region.loc['Weighted Average Income Tax'] = region.loc['Income Tax for MIHU']*assumptions().loc['mihu'].squeeze()+\
            region.loc['Resulting Income Tax per Unit']*(1-assumptions().loc['mihu'].squeeze())
    return region

In [29]:
def adu_income_tax(region,assessed_val_cat):
    region = pd.DataFrame(region).reset_index()
    region.columns = ['Category','Accessory Dwelling Units']
    r = len(assessed_val_cat['Market Value Per unit'])
    region.iloc[0,0]='Gross Income'
    region = region.set_index('Category')
    region.loc['Monthly Income']=region.iloc[0,:]/12
    region.loc['Affordability Amount']=region.iloc[1,:]*assumptions().iloc[2,0]
    region.loc['Market Value']=assessed_val_cat.iloc[:r,1].tolist()
    region.loc['Loan Amount']=region.loc['Market Value']*(1-assumptions().iloc[4,0])
    region.loc['Mortgage Payment']=[0]*r
    region.loc['Property Taxes']=[0]*r

    x=0
    for i in region.iloc[4,:].tolist():
        region.iloc[5,x]=mortgage_calculation(i,assumptions().iloc[3,0],360).squeeze()
        x=x+1
    x=0
    for i in region.iloc[3,:].tolist():
        region.iloc[6,x]=property_tax(i,assumptions().iloc[0,0]).squeeze()
        x=x+1
    region.loc['HOA']=assumptions().iloc[6,0]
    insurance_assignment = [assumptions().iloc[7,0],assumptions().iloc[7,0],assumptions().iloc[8,0]]
    region.loc['Insurance']=insurance_assignment[0:r]
    region.loc['Total Monthly Payment']=region.iloc[5:,:].sum()
    region.loc['First Month Interest']=region.loc['Loan Amount']*assumptions().iloc[3,0]/12
    region.loc['Gross Income to Market Value Ratio']=region.loc['Gross Income']/region.loc['Market Value']
    region.loc['Monthly Mortgage Deduction']=[0]*r
    y=0
    for i in region.loc['Property Taxes'].tolist():
        i=i*12
        if i >10000: 
            i = 10000 
        interest_ded = i/12
        region.iloc[12,y]= interest_ded + region.iloc[10,y]
        y=y+1

    region.loc['Annual Mortgage Deduction']=region.loc['Monthly Mortgage Deduction']*12
    region.loc['Number of Exemptions']=tax_exemptions()['Value'].to_list()[:r]
    region.loc['Adjustment of AGI']=region.loc['Number of Exemptions']*tax_exemptions().loc['exemption_amount'].squeeze()
    region.loc['Total Adjustments - Net Taxable Income']= region.loc['Gross Income']-(region.loc['Annual Mortgage Deduction']+region.loc['Adjustment of AGI'])
    region.loc['Net Taxable Income Ratio']=region.loc['Total Adjustments - Net Taxable Income']/region.loc['Gross Income']
    region.loc['Resulting Income Tax per Unit']=region.loc['Total Adjustments - Net Taxable Income']*assumptions().loc['tax_rate'].squeeze()

    return region

In [30]:
def rural_income_tax(region,assessed_val_cat):
    r = len(assessed_val_cat['Market Value Per unit'])
    list_avail = ['Category','SFD']
    region = region[0:r]
    region[:0]=['Gross Income']
    region =pd.DataFrame(region).T
    region.columns=list_avail
    region = region.set_index('Category')
    region.loc['Monthly Income']=region.iloc[0,:]/12
    region.loc['Affordability Amount']=region.iloc[1,:]*assumptions().iloc[2,0]
    region.loc['Market Value']=assessed_val_cat.iloc[:r,1].tolist()
    region.loc['Loan Amount']=region.loc['Market Value']*(1-assumptions().iloc[4,0])
    region.loc['Mortgage Payment']=[0]*r
    region.loc['Property Taxes']=[0]*r

    x=0
    for i in region.iloc[4,:].tolist():
        region.iloc[5,x]=mortgage_calculation(i,assumptions().iloc[3,0],360).squeeze()
        x=x+1
    x=0
    for i in region.iloc[3,:].tolist():
        region.iloc[6,x]=property_tax(i,assumptions().iloc[0,0]).squeeze()
        x=x+1

    region.loc['HOA']=assumptions().iloc[6,0]
    insurance_assignment = [assumptions().iloc[7,0],assumptions().iloc[7,0],assumptions().iloc[8,0]]
    region.loc['Insurance']=insurance_assignment[0:r]
    region.loc['Total Monthly Payment']=region.iloc[5:,:].sum()
    region.loc['First Month Interest']=region.loc['Loan Amount']*assumptions().iloc[3,0]/12
    region.loc['Gross Income to Market Value Ratio']=region.loc['Gross Income']/region.loc['Market Value']
    region.loc['Monthly Mortgage Deduction']=[0]*r
    y=0
    for i in region.loc['Property Taxes'].tolist():
        i=i.squeeze()*12
        if i >10000: 
            i = 10000 
        interest_ded = i/12
        region.iloc[12,y]= interest_ded + region.iloc[10,y]
        y=y+1
    region.loc['Annual Mortgage Deduction']=region.loc['Monthly Mortgage Deduction']*12
    region.loc['Number of Exemptions']=tax_exemptions()['Value'].to_list()[:r]
    region.loc['Adjustment of AGI']=region.loc['Number of Exemptions']*tax_exemptions().loc['exemption_amount'].squeeze()
    region.loc['Total Adjustments - Net Taxable Income']= region.loc['Gross Income']-(region.loc['Annual Mortgage Deduction']+region.loc['Adjustment of AGI'])
    region.loc['Net Taxable Income Ratio']=region.loc['Total Adjustments - Net Taxable Income']/region.loc['Gross Income']
    region.loc['Resulting Income Tax per Unit']=region.loc['Total Adjustments - Net Taxable Income']*assumptions().loc['tax_rate'].squeeze()

    return region

---

In [31]:
table2_1 = pd.read_sql_query('select * from table2_1',conn)
assessed_value_category={}
assessed_cat = ['table_columbia', 'table_elkridge','table_ellicott_city',\
      'table_rural_west','table_south_east','table_non_res','rental_apts','adus']
indexer = [(4,7),(9,12),(14,17),(19,20), (22,25),(28,31),(26,27),(7,8)]
j=0
for i in assessed_cat:
    r1,r2 = indexer[j]
    assessed_value_category[i]= unpack_assessed_value(table2_1.iloc[r1:r2,1:3])
    j=j+1

/var/folders/tz/ntkg0c753tx3kzg7qnk4bxf00000gn/T/ipykernel_8973/155831965.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  val['Market Value Per unit']=val['Market Value Per unit'].str.replace(',','').str.replace('$','').astype(float)
/var/folders/tz/ntkg0c753tx3kzg7qnk4bxf00000gn/T/ipykernel_8973/155831965.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  val['Market Value Per unit']=val['Market Value Per unit'].str.replace(',','').str.replace('$','').astype(float)
/var/folders/tz/ntkg0c753tx3kzg7qnk4bxf00000gn/T/ipykernel_8973/155831965.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  val['Market Value Per unit']=val['Market Value Per unit'].str.replace(',','').str.replace('$','').astype(float)
/var/folders/tz/ntkg0c753tx3kzg7qnk4bxf00000gn/T/ipykernel_8973/155831965.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  val['Market Value Per unit']=val['Market Value Per unit'].str.replace(',','').str.replace('$','').astype(float)
/var/folders/tz/ntkg0c753tx3kzg7qnk4bxf00000gn/T/ipykernel_8973/155831965.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  val['Market Value Per unit']=val['Market Value Per unit'].str.replace(',','').str.replace('$','').astype(float)
/var/folders/tz/ntkg0c753tx3kzg7qnk4bxf00000gn/T/ipykernel_8973/155831965.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  val['Market Value Per unit']=val['Market Value Per unit'].str.replace(',','').str.replace('$','').astype(float)
/var/folders/tz/ntkg0c753tx3kzg7qnk4bxf00000gn/T/ipykernel_8973/155831965.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  val['Market Value Per unit']=val['Market Value Per unit'].str.replace(',','').str.replace('$','').astype(float)
/var/folders/tz/ntkg0c753tx3kzg7qnk4bxf00000gn/T/ipykernel_8973/155831965.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  val['Market Value Per unit']=val['Market Value Per unit'].str.replace(',','').str.replace('$','').astype(float)

In [154]:
assessed_value_category['table_columbia']

,Category,Market Value Per unit,Assessed Value Ratio,Assessed Value Per unit
0,Single Family Detached,934391.0,0.92,859639.72
1,Single Family Attached,643910.0,0.92,592397.20
2,Condo Apartment,372500.0,0.92,342700.00

In [32]:
regions = ['Columbia','Elkridge','Ellicott City',\
      'Rural West','South East','Non Residential','Rental Apts','Accessory Dwelling Unit']

gross_income = pd.DataFrame([['Columbia',221695,154469, 90941],\
                                ['Elkridge',155452,116959,99419],\
                                ['Ellicott City',220373,166024,91445],\
                                ['South East', 203266,119002,84077],\
                                ['Rural West', 277369]])
gross_income.columns=['City','SFD', 'SFA','Condo_Apt']

In [33]:
gross_income.set_index('City', inplace=True)

In [34]:
rental_adu = [['Rental Apts', 85313],['Accessory Dwelling Uint', 63305]]
rental_adu = pd.DataFrame(rental_adu)
rental_adu.columns = ['Category', 'Value']
rental_adu.set_index('Category', inplace=True)

In [35]:
to_display_col = assessed_value_category['table_columbia']
gross_income_by_city_col = gross_income.loc['Columbia'].tolist()
gross_income_by_city_col = income_tax(gross_income_by_city_col,to_display_col)

In [36]:
to_display_elk = assessed_value_category['table_elkridge']
gross_income_by_city_elk= gross_income.loc['Elkridge'].tolist()
gross_income_by_city_elk = income_tax(gross_income_by_city_elk,to_display_elk)

In [37]:
to_display_ec = assessed_value_category['table_ellicott_city']
gross_income_by_city_ec = gross_income.loc['Ellicott City'].tolist()
gross_income_by_city_ec = income_tax(gross_income_by_city_ec,to_display_ec)

In [38]:
to_display_se = assessed_value_category['table_south_east']
gross_income_by_city_se = gross_income.loc['South East'].tolist()
gross_income_by_city_se = income_tax(gross_income_by_city_se,to_display_se)

In [40]:
rental_gross_income = rental_income_tax(rental_adu.loc['Rental Apts'],assessed_value_category['rental_apts'])

In [41]:
adu_gross_income = adu_income_tax(rental_adu.loc['Accessory Dwelling Uint'],assessed_value_category['adus'])

In [42]:
to_display = assessed_value_category['table_rural_west']
rural_gross_income = gross_income.loc['Rural West'].tolist()
rural_income_by_city = rural_income_tax(rural_gross_income,to_display)

In [43]:
col = ['Area','2020','2021','Jan 2022','Feb 2022','March 2022','April 2022','May 2022','June 2022','July 2022','August 2022','Sept 2022','Oct 2022']

In [47]:
import xlwings as xw

In [48]:
ws = xw.Book('Pages from Construction Report October 2022.xlsx').sheets['Table 1']

In [49]:
table = ws.range("A3:M44").value

In [50]:
table.insert(0,col)

In [51]:
table = pd.DataFrame(table)

In [52]:
table.columns = table.iloc[0]

In [53]:
table.drop(0, inplace=True)

In [56]:
elk_construction = table.iloc[1:4,12].astype(float)

In [58]:
ec_construction = table.iloc[7:10,12].astype(float)

In [63]:
rw_SFD = table.iloc[12,12]+table.iloc[17,12]+table.iloc[21,12]
rw_SFA = table.iloc[13,12]+table.iloc[18,12]+table.iloc[22,12]
rw_APT = table.iloc[14,12]+table.iloc[23,12]

In [68]:
rw_construction={'SFD': rw_SFD, 'SFA': rw_SFA, 'APT':rw_APT}

In [69]:
col_construction = table.iloc[26:29,12].astype(float)

In [70]:
sw_construction = table.iloc[31:34,12].astype(float)

"${:,.2f}".format(total)

In [271]:
table10 = tb.read_pdf('results.pdf',pages=2)

In [272]:
projected_units=table10[0]

In [273]:
projected_units.iloc[0:,1:]=projected_units.iloc[0:,1:].replace(',','',regex=True).astype(float)

/var/folders/tz/ntkg0c753tx3kzg7qnk4bxf00000gn/T/ipykernel_8973/2151504207.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  projected_units.iloc[0:,1:]=projected_units.iloc[0:,1:].replace(',','',regex=True).astype(float)

In [274]:
projected_units.set_index('Unit Type', inplace=True)

In [275]:
projected_units = projected_units.set_axis(['SFA', 'SFD', 'Condo_Apt','Rental_Apts', 'ADUs','Total'], axis=0)

In [276]:
projected_units.index.name='Unit Type'
projected_units

             Columbia  Elkridge  Ellicott City  Rural West  Southeast    Total
Unit Type
SFA             414.0     756.0         1026.0      1254.0      846.0   4296.0
SFD            1170.0    1602.0         1764.0       540.0     1035.0   6111.0
Condo_Apt       792.0     486.0          450.0         0.0      324.0   2052.0
Rental_Apts    7133.0    1908.0         1764.0         0.0     1268.0  12073.0
ADUs            108.0      54.0          270.0         0.0       36.0    468.0
Total          9617.0    4806.0         5274.0      1794.0     3509.0  25000.0

In [277]:
year1=2023
years = [year1+x for x in range(18)]
# years.insert(19,'Total')

In [278]:
empty_table = pd.DataFrame(columns=years, index=projected_units.index.to_list()[0:5])

In [352]:
plan_areas = {}
a=0
inc = 18
for a in projected_units.columns.to_list()[:-1]:
    for i in projected_units.index.to_list()[0:5]:
        empty_table.loc[i]=projected_units.loc[i, a]/inc
    plan_areas[a]=empty_table
    empty_table = pd.DataFrame(columns=years, index=projected_units.index.to_list()[0:5])

In [353]:
plan_areas

{'Columbia':                    2023        2024        2025        2026        2027  \
 SFA                23.0        23.0        23.0        23.0        23.0
 SFD                65.0        65.0        65.0        65.0        65.0
 Condo_Apt          44.0        44.0        44.0        44.0        44.0
 Rental_Apts  396.277778  396.277778  396.277778  396.277778  396.277778
 ADUs                6.0         6.0         6.0         6.0         6.0

                    2028        2029        2030        2031        2032  \
 SFA                23.0        23.0        23.0        23.0        23.0
 SFD                65.0        65.0        65.0        65.0        65.0
 Condo_Apt          44.0        44.0        44.0        44.0        44.0
 Rental_Apts  396.277778  396.277778  396.277778  396.277778  396.277778
 ADUs                6.0         6.0         6.0         6.0         6.0

                    2033        2034        2035        2036        2037  \
 SFA                23.0        23.0        23.0        23.0        23.0
 SFD                65.0        65.0        65.0        65.0        65.0
 Condo_Apt          44.0        44.0        44.0        44.0        44.0
 Rental_Apts  396.277778  396.277778  396.277778  396.277778  396.277778
 ADUs                6.0         6.0         6.0         6.0         6.0

                    2038        2039        2040
 SFA                23.0        23.0        23.0
 SFD                65.0        65.0        65.0
 Condo_Apt          44.0        44.0        44.0
 Rental_Apts  396.277778  396.277778  396.277778
 ADUs                6.0         6.0         6.0  ,
 'Elkridge':               2023   2024   2025   2026   2027   2028   2029   2030   2031  \
 SFA           42.0   42.0   42.0   42.0   42.0   42.0   42.0   42.0   42.0
 SFD           89.0   89.0   89.0   89.0   89.0   89.0   89.0   89.0   89.0
 Condo_Apt     27.0   27.0   27.0   27.0   27.0   27.0   27.0   27.0   27.0
 Rental_Apts  106.0  106.0  106.0  106.0  106.0  106.0  106.0  106.0  106.0
 ADUs           3.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0

               2032   2033   2034   2035   2036   2037   2038   2039   2040
 SFA           42.0   42.0   42.0   42.0   42.0   42.0   42.0   42.0   42.0
 SFD           89.0   89.0   89.0   89.0   89.0   89.0   89.0   89.0   89.0
 Condo_Apt     27.0   27.0   27.0   27.0   27.0   27.0   27.0   27.0   27.0
 Rental_Apts  106.0  106.0  106.0  106.0  106.0  106.0  106.0  106.0  106.0
 ADUs           3.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0  ,
 'Ellicott City':              2023  2024  2025  2026  2027  2028  2029  2030  2031  2032  2033  \
 SFA          57.0  57.0  57.0  57.0  57.0  57.0  57.0  57.0  57.0  57.0  57.0
 SFD          98.0  98.0  98.0  98.0  98.0  98.0  98.0  98.0  98.0  98.0  98.0
 Condo_Apt    25.0  25.0  25.0  25.0  25.0  25.0  25.0  25.0  25.0  25.0  25.0
 Rental_Apts  98.0  98.0  98.0  98.0  98.0  98.0  98.0  98.0  98.0  98.0  98.0
 ADUs         15.0  15.0  15.0  15.0  15.0  15.0  15.0  15.0  15.0  15.0  15.0

              2034  2035  2036  2037  2038  2039  2040
 SFA          57.0  57.0  57.0  57.0  57.0  57.0  57.0
 SFD          98.0  98.0  98.0  98.0  98.0  98.0  98.0
 Condo_Apt    25.0  25.0  25.0  25.0  25.0  25.0  25.0
 Rental_Apts  98.0  98.0  98.0  98.0  98.0  98.0  98.0
 ADUs         15.0  15.0  15.0  15.0  15.0  15.0  15.0  ,
 'Rural West':                   2023       2024       2025       2026       2027       2028  \
 SFA          69.666667  69.666667  69.666667  69.666667  69.666667  69.666667
 SFD               30.0       30.0       30.0       30.0       30.0       30.0
 Condo_Apt          0.0        0.0        0.0        0.0        0.0        0.0
 Rental_Apts        0.0        0.0        0.0        0.0        0.0        0.0
 ADUs               0.0        0.0        0.0        0.0        0.0        0.0

                   2029       2030       2031       2032       2033       2034  \
 SFA          69.666667  69.666667  69.666667  69.666667  69.666667  69.666667
 SFD               30.0       30.0       30.0       30.0       30.0       30.0
 Condo_Apt          0.0        0.0        0.0        0.0        0.0        0.0
 Rental_Apts        0.0        0.0        0.0        0.0        0.0        0.0
 ADUs               0.0        0.0        0.0        0.0        0.0        0.0

                   2035       2036       2037       2038       2039       2040
 SFA          69.666667  69.666667  69.666667  69.666667  69.666667  69.666667
 SFD               30.0       30.0       30.0       30.0       30.0       30.0
 Condo_Apt          0.0        0.0        0.0        0.0        0.0        0.0
 Rental_Apts        0.0        0.0        0.0        0.0        0.0        0.0
 ADUs               0.0        0.0        0.0        0.0        0.0        0.0  ,
 'Southeast':                   2023       2024       2025       2026       2027       2028  \
 SFA               47.0       47.0       47.0       47.0       47.0       47.0
 SFD               57.5       57.5       57.5       57.5       57.5       57.5
 Condo_Apt         18.0       18.0       18.0       18.0       18.0       18.0
 Rental_Apts  70.444444  70.444444  70.444444  70.444444  70.444444  70.444444
 ADUs               2.0        2.0        2.0        2.0        2.0        2.0

                   2029       2030       2031       2032       2033       2034  \
 SFA               47.0       47.0       47.0       47.0       47.0       47.0
 SFD               57.5       57.5       57.5       57.5       57.5       57.5
 Condo_Apt         18.0       18.0       18.0       18.0       18.0       18.0
 Rental_Apts  70.444444  70.444444  70.444444  70.444444  70.444444  70.444444
 ADUs               2.0        2.0        2.0        2.0        2.0        2.0

                   2035       2036       2037       2038       2039       2040
 SFA               47.0       47.0       47.0       47.0       47.0       47.0
 SFD               57.5       57.5       57.5       57.5       57.5       57.5
 Condo_Apt         18.0       18.0       18.0       18.0       18.0       18.0
 Rental_Apts  70.444444  70.444444  70.444444  70.444444  70.444444  70.444444
 ADUs               2.0        2.0        2.0        2.0        2.0        2.0  }

------

In [394]:
table11=tb.read_pdf('results.pdf',pages=3)
table11_1 = table11[0].drop(columns='Job Type')
table11_1=table11_1.rename(columns={'Unnamed: 0':'Job Type'})
table11_1=table11_1.set_index('Job Type')
table11_1 = table11_1.replace(',',"", regex=True).astype(float)

# Columbia
### Property Tax

In [395]:
col_assessment = pd.concat([assessed_value_category['table_columbia'],\
                            assessed_value_category['rental_apts'],\
                            assessed_value_category['adus']]).set_index('Category')
col_assessment['Assessed Value Per unit']

Category
Single Family Detached                        859639.72
Single Family Attached                        592397.20
Condo Apartment                               342700.00
Rental Apartment (From Income Cap. Method)    352723.40
Accessory Dwelling Unit                       230000.00
Name: Assessed Value Per unit, dtype: float64

In [396]:
col_plan = plan_areas['Columbia'].astype(float)
col_plan[2023].values

array([ 23.        ,  65.        ,  44.        , 396.27777778,
         6.        ])

In [397]:
col_real_prop_taxes = ((col_assessment['Assessed Value Per unit'].values*col_plan[2023].values)*(1.014+0.112+.236+.08)/100+(col_plan[2023]*325)).sum()
col_real_prop_taxes

3266914.517535423

In [398]:
personal_merchent_col = table11_1.loc['TOTAL','Columbia']/19*204.64

In [399]:
penalites_col = col_real_prop_taxes * 0.12/100

In [400]:
prop_tax_col = col_real_prop_taxes + personal_merchent_col + penalites_col
prop_tax_col

3511717.6360090966

# Elkridge
### Property Tax

In [361]:
elk_assessment = pd.concat([assessed_value_category['table_elkridge'],\
                            assessed_value_category['rental_apts'],\
                            assessed_value_category['adus']]).set_index('Category')
elk_assessment['Assessed Value Per unit']

Category
Single Family Detached                        596308.12
Single Family Attached                        443288.20
Condo Apartment                               376402.36
Rental Apartment (From Income Cap. Method)    352723.40
Accessory Dwelling Unit                       230000.00
Name: Assessed Value Per unit, dtype: float64

In [362]:
elk_plan = plan_areas['Elkridge'].astype(float)
elk_plan[2023].values

array([ 42.,  89.,  27., 106.,   3.])

In [363]:
col_real_prop_taxes = ((col_assessment['Assessed Value Per unit'].values*col_plan[2023].values)*(1.014+0.112+.236+.08)/100+(col_plan[2023]*325)).sum()
col_real_prop_taxes

1143174.8284944

In [364]:
personal_merchent_elk = table11_1.loc['TOTAL','Elkridge']/19*204.64

In [365]:
penalites_elk = elk_real_prop_taxes * 0.12/100

In [366]:
prop_tax_elk = elk_real_prop_taxes+personal_merchent_elk+penalites_elk
prop_tax_elk

1181187.9688149092

# Ellicott City
### Property Tax

In [367]:
ec_assessment = pd.concat([assessed_value_category['table_ellicott_city'],\
                            assessed_value_category['rental_apts'],\
                            assessed_value_category['adus']]).set_index('Category')
ec_assessment['Assessed Value Per unit']

Category
Single Family Detached                        854383.76
Single Family Attached                        638334.64
Condo Apartment                               344701.92
Rental Apartment (From Income Cap. Method)    352723.40
Accessory Dwelling Unit                       230000.00
Name: Assessed Value Per unit, dtype: float64

In [368]:
ec_plan = plan_areas['Ellicott City'].astype(float)
ec_plan[2023].values

array([57., 98., 25., 98., 15.])

In [369]:
ec_real_prop_taxes = ((ec_assessment['Assessed Value Per unit'].values*ec_plan[2023].values).sum())*((1.014+0.112+.236+.08)/100+325)
ec_real_prop_taxes

1601015.8578336001

In [370]:
personal_merchent_ec = table11_1.loc['TOTAL','Ellicott City']/19*204.64

In [371]:
penalites_ec = ec_real_prop_taxes * 0.12/100

In [372]:
prop_tax_ec = ec_real_prop_taxes+personal_merchent_ec+penalites_ec
prop_tax_ec

1624564.2937051055

In [373]:
pd.DataFrame(assessed_value_category['table_ellicott_city'].loc[1]).T

,Category,Market Value Per unit,Assessed Value Ratio,Assessed Value Per unit
1,Single Family Attached,693842.0,0.92,638334.64

# Rural West
### Property Tax

In [374]:
rw_assessment = pd.concat([assessed_value_category['table_rural_west'],\
                            pd.DataFrame(assessed_value_category['table_ellicott_city'].loc[1]).T])
rw_assessment['Assessed Value Per unit']

0    1080954.0
1    638334.64
Name: Assessed Value Per unit, dtype: object

In [375]:
rw_plan = plan_areas['Rural West'].astype(float)
rw_plan[2023].values[:2]

array([69.66666667, 30.        ])

In [376]:
rw_real_prop_taxes = ((rw_assessment['Assessed Value Per unit'].values*rw_plan[2023].values[:2]).sum())*1.014/100
rw_real_prop_taxes

957788.922168

In [377]:
personal_merchent_rw = table11_1.loc['TOTAL','Rural West']*204.64/19

In [378]:
penalites_rw = rw_real_prop_taxes * 0.12/100

In [379]:
prop_tax_rw = rw_real_prop_taxes+personal_merchent_rw+penalites_rw
prop_tax_rw

969601.0899272332

# South East
### Property Tax

In [380]:
se_assessment = pd.concat([assessed_value_category['table_south_east'],\
                            assessed_value_category['rental_apts'],\
                            assessed_value_category['adus']]).set_index('Category')
se_assessment['Assessed Value Per unit']

Category
Single Family Detached                        786376.44
Single Family Attached                        451409.04
Condo Apartment                               315414.64
Rental Apartment (From Income Cap. Method)    352723.40
Accessory Dwelling Unit                       230000.00
Name: Assessed Value Per unit, dtype: float64

In [381]:
se_plan = plan_areas['Southeast'].astype(float)
se_plan[2023].values

array([47.        , 57.5       , 18.        , 70.44444444,  2.        ])

In [382]:
se_real_prop_taxes = ((se_assessment['Assessed Value Per unit'].values*se_plan[2023].values).sum())*1.014/100
se_real_prop_taxes

952151.8807493333

In [383]:
personal_merchent_se = table11_1.loc['TOTAL','Southeast']/19*204.64

In [384]:
penalites_se = se_real_prop_taxes * 0.12/100

In [385]:
prop_tax_se = se_real_prop_taxes+personal_merchent_se+penalites_se
prop_tax_se

982751.8524799168

In [386]:
property_taxes = prop_tax_col+prop_tax_ec+prop_tax_elk+prop_tax_rw+prop_tax_se
property_taxes

7176757.773004198

In [401]:
955944.148963+584632.029608+885124.054335+468309.365333+505657.84759

3399667.445829

In [402]:
table2 = tb.read_pdf('hocobydesign.pdf',pages=7)

In [411]:
table2[0].loc[19.5]= ['Single Family Attached', 0, 0, 0]

In [413]:
table2[0].loc[19.6] = ['Condo Apartment', 0, 0, 0]

In [414]:
table2[0] = table2[0].sort_index().reset_index(drop=True)

In [415]:
table2[0]

,Unnamed: 0,Market,Assessed,Assessed.1
0,NaN,Values,Value,Values
1,CATEGORY,(per unit),Ratio (1),(per unit)
2,Residential Units (2),NaN,NaN,NaN
3,Columbia,NaN,NaN,NaN
4,Single Family Detached,"$934,391",92%,"$859,640"
5,Single Family Attached,"$643,910",92%,"$592,397"
6,Condo Apartment,"$372,500",92%,"$342,700"
7,Accessory Dwelling Unit,"$250,000",92%,"$230,000"
8,Elkridge,NaN,NaN,NaN
9,Single Family Detached,"$648,161",92%,"$596,308"
10,Single Family Attached,"$481,835",92%,"$443,288"
11,Condo Apartment,"$409,133",92%,"$376,402"
12,Accessory Dwelling Unit,"$250,000",92%,"$230,000"
13,Ellicott City,NaN,NaN,NaN
14,Single Family Detached,"$928,678",92%,"$854,384"
15,Single Family Attached,"$693,842",92%,"$638,335"
16,Condo Apartment,"$374,676",92%,"$344,702"
17,Accessory Dwelling Unit,"$250,000",92%,"$230,000"
18,Rural West,NaN,NaN,NaN
19,Single Family Detached,"$1,174,950",92%,"$1,080,954"
20,Single Family Attached,0,0,0
21,Condo Apartment,0,0,0
22,Accessory Dwelling Unit,"$250,000",92%,"$230,000"
23,Southeast,NaN,NaN,NaN
24,Single Family Detached,"$854,757",92%,"$786,376"
25,Single Family Attached,"$490,662",92%,"$451,409"
26,Condo Apartment,"$342,842",92%,"$315,415"
27,Accessory Dwelling Unit,"$250,000",92%,"$230,000"
28,Rental Apartment (From Income Cap. Method),"$383,395",92%,"$352,723"
29,Non-Residential Uses (3),(per sq. ft.),NaN,(per sq. ft.)
30,Retail,$180,100%,$180
31,A/B+ Office,$245,100%,$245
32,B/C/Flex Office,$187,100%,$187
33,Ind./Manuf./Warehouse,$128,100%,$128

In [2]:
69.67*6722.144 + 30*3845.2651037184

583689.7255915521

In [3]:
955944.1489634132+584632.0296078336+885124.0543352831+583667.4653333334+505657.8475901525

3515025.5458300156